body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

h1{
    text-align: center;
}

/*SHAPE*/
.shape-container{
    display: inline-flex;
    column-gap: 10px;
    

}

.rectangle{
    width: 100px;
    height: 50px;
    resize: both;
    background-color: aquamarine;
    overflow: hidden;
}

.remove-shape-btn{
    background-color: transparent;
    color: red;
    font-size: 12px;
    border: none;
}








span{
    visibility: hidden;
    position: absolute;
    white-space: pre;
    font: inherit; 
}

.menu-container{
    display: flex;
    flex-direction: column;
}


/* TASK*/

.todo-container{
    height: 500px;
    border: solid;
   
    
}

.task-container{
    height: 25px;
    display: inline-flex;
    text-align: center;
    column-gap: 5px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 5px;   
    cursor:move;
    z-index: 1;         /* place on top*/
    
}

.task-container:hover{
    border: 2px, gray, solid;
}

.checked-task{
   filter: contrast(50%) opacity(60%) grayscale(50%);
}


.task-input{
    background-color: transparent;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    
}

.done-input-task{
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;
}

.remove-btn{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: red;
    cursor: pointer;
}





