body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}


h1{
    text-align: center;
}

/* MENU  part*/

.menu-container{
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: center;

    
    column-gap: 10px;
    margin-bottom: 10px;
}

.menu-col{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100px;

   

}

.menu-row{
    height: 33px;
}

.menu-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
    column-gap: 2px;
    background-color: transparent;
    cursor: pointer;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
}

.disable-drag{
    background-color: rgb(226, 89, 89);
}

.enable-drag{
    background-color: lightgreen;
}



/*SHAPE*/
.shape-container{
    display: inline-flex;
    column-gap: 10px;
    
}

.enable-move-shape{
    cursor: move;
}


.rectangle{
    width: 100px;
    height: 50px;
    background-color: #FFF5E4;
    resize: both;
    overflow: hidden;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    resize: both;
    background-color: #CAF4FF;
    overflow: hidden;
}

.square{
    width: 150px;
    height: 150px;
    background-color: #EBFFD8;
    resize: both;
    overflow: hidden;
}


/* NEW*/
.selected{
    border-style:dashed;
    border-width: 2px;
}

/*
.triangle{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid green;
    
}
*/

/* Must place after ALL shape classes to work propertly*/
.disable-resize{
    overflow:visible;
}

.remove-shape-btn{
    background-color: transparent;
    color: red;
    font-size: 12px;
    width: 30px;
    height: 30px;
    border: none;
    
}


.mirror-span{
    visibility: hidden;
    position: absolute;
    white-space: pre;
    font: inherit; 
}





/* SHAPE BUTTON */

.shape-btn-container{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    
}

.shape-btn-container:hover{
    background-color: rgb(255, 255, 255);
}

.default-shape-btn{
    background-color: transparent;
    padding-left: 40px;
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
}

.shape-drop-down-btn{
    background-color: transparent;
    text-align: center;
    border: none;
}


.shape-drop-down-content{
    display: flex;
    position: absolute;
    
    flex-direction:column;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    
    width:100px;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    visibility: hidden;
    margin-top: 1px;
}


.enable-shape-drop-down-content{
    visibility: visible;
}

.shape-btn{
    border-radius: 5px;
    border-width: 1px;
}

.shape-btn:hover{
    background-color: rgb(232, 228, 228);
    
}

/* ROTATE BUTTON */

.rotate-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 100%;
    
}

.rotate-container:hover{
    background-color: rgb(255, 255, 255);
}

.rotate-span{
    height: 16px;
    display: flex;
    flex-direction: row;
    column-gap: 2px;
    font-size: 12px;  
}

#up-deg, #down-deg{
    display: flex;
    height: 15px;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    width: 10px;
}

#degree-input{
    width: 30px;
    text-align: center;
}



/* TASK*/

.todo-container{
    height: 500px;
    border: solid;
}

.task-container{
    height: 25px;
    display: inline-flex;
    text-align: center;
    column-gap: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 5px;   
    cursor:move;
    z-index: 1;         /* place on top*/
    
}

.task-container:hover{
    border: 2px, gray, solid;
}

.checked-task{
   filter: contrast(50%) opacity(60%) grayscale(50%);
}


.task-input{
    background-color: transparent;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    
}

.done-input-task{
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;
}

.remove-btn{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: red;
    cursor: pointer;
}


/*COLOR input*/

#color-input{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
}


/* Text Box */

.text-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    caret-color: transparent;
    z-index: 1;
}



.remove-textbox-btn{
    background-color: transparent;
    border: none;
    color: red;
    visibility: hidden;
}



.text-box{
    width: 100px;
    height: 50px;
    outline: none;
    border: none;
    resize: none;
    background-color: transparent;
    visibility: hidden;
    border-width: 1px;
    caret-color: transparent;

    
}

.text-container:hover .remove-textbox-btn, .text-box{
    visibility: visible;
}

.text-box:hover{
    border: dashed;
    border-width: 1px;
    resize: both;
}

.text-box:focus{
    border: solid;
    resize: both;
    border-width: 1px;
    caret-color: auto;
    resize: none;
    
}

